@keyframes wys-blured-panel-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wys-blured-panel-animation {
  animation: wys-blured-panel-animation 0.3s forwards;
}

@keyframes wys-blured-panel-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wys-blured-panel-fade-out {
  animation: wys-blured-panel-fade-out 0.3s forwards;
}
