@keyframes wys-delete-challenge-item-confirm-bg-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wys-delete-challenge-item-confirm-bg-animation {
  animation: wys-delete-challenge-item-confirm-bg-animation 0.3s forwards;
}

@keyframes wys-delete-challenge-item-confirm-bg-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wys-delete-challenge-item-confirm-bg-fade-out {
  animation: wys-delete-challenge-item-confirm-bg-fade-out 0.3s forwards;
}

@keyframes wys-delete-challenge-item-confirm-fg-animation {
  0% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0px);
  }
}

.wys-delete-challenge-item-confirm-fg-animation {
  animation: wys-delete-challenge-item-confirm-fg-animation 0.3s forwards;
}
