@keyframes wys-motivation-fade-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.wys-motivation-fade-out {
  animation: wys-motivation-fade-out 0.5s forwards;
}

@keyframes wys-motivation-fade-in {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.wys-motivation-fade-in {
  animation: wys-motivation-fade-in 0.5s forwards;
}
