@import 'tailwindcss';

html {
  @apply bg-slate-50;
}

* {
  font-family: 'Manrope', sans-serif;
  @apply select-none;
}

button {
  @apply cursor-pointer;
}

.remove-scroll-bar::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}
