.wys-new-challenge-item-step {
  @apply absolute left-[50%] top-[50%] pointer-events-none opacity-0;
  width: calc(100vw - 32px);
  transition: 0.3s;
}

.wys-new-challenge-item-step-current {
  @apply pointer-events-auto! opacity-100!;
  transform: translate(-50%, -50%);
}

.wys-new-challenge-item-step-end {
  transform: translate(-50%, calc(-50% - 16px));
}

.wys-new-challenge-item-step-ready {
  transform: translate(-50%, calc(-50% + 16px));
}
